# Venture Funding with Deep Learning

You work as a risk management associate at Alphabet Soup, a venture capital firm. Alphabet Soup’s business team receives many funding applications from startups every day. This team has asked you to help them create a model that predicts whether applicants will be successful if funded by Alphabet Soup.

The business team has given you a CSV containing more than 34,000 organizations that have received funding from Alphabet Soup over the years. With your knowledge of machine learning and neural networks, you decide to use the features in the provided dataset to create a binary classifier model that will predict whether an applicant will become a successful business. The CSV file contains a variety of information about these businesses, including whether or not they ultimately became successful.

## Instructions:

The steps for this challenge are broken out into the following sections:

* Prepare the data for use on a neural network model.

* Compile and evaluate a binary classification model using a neural network.

* Optimize the neural network model.

### Prepare the Data for Use on a Neural Network Model 

Using your knowledge of Pandas and scikit-learn’s `StandardScaler()`, preprocess the dataset so that you can use it to compile and evaluate the neural network model later.

Open the starter code file, and complete the following data preparation steps:

1. Read the `applicants_data.csv` file into a Pandas DataFrame. Review the DataFrame, looking for categorical variables that will need to be encoded, as well as columns that could eventually define your features and target variables.   

2. Drop the “EIN” (Employer Identification Number) and “NAME” columns from the DataFrame, because they are not relevant to the binary classification model.
 
3. Encode the dataset’s categorical variables using `OneHotEncoder`, and then place the encoded variables into a new DataFrame.

4. Add the original DataFrame’s numerical variables to the DataFrame containing the encoded variables.

> **Note** To complete this step, you will employ the Pandas `concat()` function that was introduced earlier in this course. 

5. Using the preprocessed data, create the features (`X`) and target (`y`) datasets. The target dataset should be defined by the preprocessed DataFrame column “IS_SUCCESSFUL”. The remaining columns should define the features dataset. 

6. Split the features and target sets into training and testing datasets.

7. Use scikit-learn's `StandardScaler` to scale the features data.

### Compile and Evaluate a Binary Classification Model Using a Neural Network

Use your knowledge of TensorFlow to design a binary classification deep neural network model. This model should use the dataset’s features to predict whether an Alphabet Soup&ndash;funded startup will be successful based on the features in the dataset. Consider the number of inputs before determining the number of layers that your model will contain or the number of neurons on each layer. Then, compile and fit your model. Finally, evaluate your binary classification model to calculate the model’s loss and accuracy. 
 
To do so, complete the following steps:

1. Create a deep neural network by assigning the number of input features, the number of layers, and the number of neurons on each layer using Tensorflow’s Keras.

> **Hint** You can start with a two-layer deep neural network model that uses the `relu` activation function for both layers.

2. Compile and fit the model using the `binary_crossentropy` loss function, the `adam` optimizer, and the `accuracy` evaluation metric.

> **Hint** When fitting the model, start with a small number of epochs, such as 20, 50, or 100.

3. Evaluate the model using the test data to determine the model’s loss and accuracy.

4. Save and export your model to an HDF5 file, and name the file `AlphabetSoup.h5`. 

### Optimize the Neural Network Model

Using your knowledge of TensorFlow and Keras, optimize your model to improve the model's accuracy. Even if you do not successfully achieve a better accuracy, you'll need to demonstrate at least two attempts to optimize the model. You can include these attempts in your existing notebook. Or, you can make copies of the starter notebook in the same folder, rename them, and code each model optimization in a new notebook. 

> **Note** You will not lose points if your model does not achieve a high accuracy, as long as you make at least two attempts to optimize the model.

To do so, complete the following steps:

1. Define at least three new deep neural network models (the original plus 2 optimization attempts). With each, try to improve on your first model’s predictive accuracy.

> **Rewind** Recall that perfect accuracy has a value of 1, so accuracy improves as its value moves closer to 1. To optimize your model for a predictive accuracy as close to 1 as possible, you can use any or all of the following techniques:
>
> * Adjust the input data by dropping different features columns to ensure that no variables or outliers confuse the model.
>
> * Add more neurons (nodes) to a hidden layer.
>
> * Add more hidden layers.
>
> * Use different activation functions for the hidden layers.
>
> * Add to or reduce the number of epochs in the training regimen.

2. After finishing your models, display the accuracy scores achieved by each model, and compare the results.

3. Save each of your models as an HDF5 file.

In [1]:
# Imports
import pandas as pd
from pathlib import Path
import tensorflow as tf
from tensorflow.keras.layers import Dense
from tensorflow.keras.models import Sequential
from sklearn.model_selection import train_test_split
from sklearn.preprocessing import StandardScaler,OneHotEncoder

---

## Prepare the data to be used on a neural network model

### Step 1: Read the `applicants_data.csv` file into a Pandas DataFrame. Review the DataFrame, looking for categorical variables that will need to be encoded, as well as columns that could eventually define your features and target variables.

In [2]:
# Read the applicants_data.csv file from the Resources folder into a Pandas DataFrame
applicant_data_df = pd.read_csv(
    Path("./Resources/applicants_data.csv")
)

# Review the DataFrame
applicant_data_df.head()

,EIN,NAME,APPLICATION_TYPE,AFFILIATION,CLASSIFICATION,USE_CASE,ORGANIZATION,STATUS,INCOME_AMT,SPECIAL_CONSIDERATIONS,ASK_AMT,IS_SUCCESSFUL
0,10520599,BLUE KNIGHTS MOTORCYCLE CLUB,T10,Independent,C1000,ProductDev,Association,1,0,N,5000,1
1,10531628,AMERICAN CHESAPEAKE CLUB CHARITABLE TR,T3,Independent,C2000,Preservation,Co-operative,1,1-9999,N,108590,1
2,10547893,ST CLOUD PROFESSIONAL FIREFIGHTERS,T5,CompanySponsored,C3000,ProductDev,Association,1,0,N,5000,0
3,10553066,SOUTHSIDE ATHLETIC ASSOCIATION,T3,CompanySponsored,C2000,Preservation,Trust,1,10000-24999,N,6692,1
4,10556103,GENETIC RESEARCH INSTITUTE OF THE DESERT,T3,Independent,C1000,Heathcare,Trust,1,100000-499999,N,142590,1

In [3]:
# Review the data types associated with the columns
applicant_data_df.dtypes

EIN                        int64
NAME                      object
APPLICATION_TYPE          object
AFFILIATION               object
CLASSIFICATION            object
USE_CASE                  object
ORGANIZATION              object
STATUS                     int64
INCOME_AMT                object
SPECIAL_CONSIDERATIONS    object
ASK_AMT                    int64
IS_SUCCESSFUL              int64
dtype: object

### Step 2: Drop the “EIN” (Employer Identification Number) and “NAME” columns from the DataFrame, because they are not relevant to the binary classification model.

In [4]:
# Drop the 'EIN' and 'NAME' columns from the DataFrame
applicant_data_df = applicant_data_df.drop(columns=['EIN', 'NAME'])

# Review the DataFrame
display(applicant_data_df)

,APPLICATION_TYPE,AFFILIATION,CLASSIFICATION,USE_CASE,ORGANIZATION,STATUS,INCOME_AMT,SPECIAL_CONSIDERATIONS,ASK_AMT,IS_SUCCESSFUL
0,T10,Independent,C1000,ProductDev,Association,1,0,N,5000,1
1,T3,Independent,C2000,Preservation,Co-operative,1,1-9999,N,108590,1
2,T5,CompanySponsored,C3000,ProductDev,Association,1,0,N,5000,0
3,T3,CompanySponsored,C2000,Preservation,Trust,1,10000-24999,N,6692,1
4,T3,Independent,C1000,Heathcare,Trust,1,100000-499999,N,142590,1
...,...,...,...,...,...,...,...,...,...,...
34294,T4,Independent,C1000,ProductDev,Association,1,0,N,5000,0
34295,T4,CompanySponsored,C3000,ProductDev,Association,1,0,N,5000,0
34296,T3,CompanySponsored,C2000,Preservation,Association,1,0,N,5000,0
34297,T5,Independent,C3000,ProductDev,Association,1,0,N,5000,1
34298,T3,Independent,C1000,Preservation,Co-operative,1,1M-5M,N,36500179,0

### Step 3: Encode the dataset’s categorical variables using `OneHotEncoder`, and then place the encoded variables into a new DataFrame.

In [5]:
# Create a list of categorical variables 
categorical_variables = list(applicant_data_df.select_dtypes(include="object").columns)


# Display the categorical variables list
display(categorical_variables)

['APPLICATION_TYPE',
 'AFFILIATION',
 'CLASSIFICATION',
 'USE_CASE',
 'ORGANIZATION',
 'INCOME_AMT',
 'SPECIAL_CONSIDERATIONS']

In [6]:
# Create a OneHotEncoder instance
enc = OneHotEncoder(sparse=False)

In [7]:
# Encode the categorcal variables using OneHotEncoder
encoded_data = enc.fit_transform(applicant_data_df[categorical_variables])

In [8]:
# Create a DataFrame with the encoded variables
encoded_df = pd.DataFrame(
    encoded_data,
    columns = enc.get_feature_names(categorical_variables)
)
# Review the DataFrame
display(encoded_df)

C:\Users\steve\anaconda3\envs\dev\lib\site-packages\sklearn\utils\deprecation.py:87: FutureWarning: Function get_feature_names is deprecated; get_feature_names is deprecated in 1.0 and will be removed in 1.2. Please use get_feature_names_out instead.
  warnings.warn(msg, category=FutureWarning)

,APPLICATION_TYPE_T10,APPLICATION_TYPE_T12,APPLICATION_TYPE_T13,APPLICATION_TYPE_T14,APPLICATION_TYPE_T15,APPLICATION_TYPE_T17,APPLICATION_TYPE_T19,APPLICATION_TYPE_T2,APPLICATION_TYPE_T25,APPLICATION_TYPE_T29,...,INCOME_AMT_1-9999,INCOME_AMT_10000-24999,INCOME_AMT_100000-499999,INCOME_AMT_10M-50M,INCOME_AMT_1M-5M,INCOME_AMT_25000-99999,INCOME_AMT_50M+,INCOME_AMT_5M-10M,SPECIAL_CONSIDERATIONS_N,SPECIAL_CONSIDERATIONS_Y
0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0
1,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0
2,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0
3,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0
4,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
34294,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0
34295,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0
34296,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0
34297,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0
34298,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,1.0,0.0

### Step 4: Add the original DataFrame’s numerical variables to the DataFrame containing the encoded variables.

> **Note** To complete this step, you will employ the Pandas `concat()` function that was introduced earlier in this course.

In [9]:
# Add the numerical variables from the original DataFrame to the one-hot encoding DataFrame
encoded_df = pd.concat([applicant_data_df[["STATUS","ASK_AMT","IS_SUCCESSFUL"]], encoded_df],axis=1)

# Review the Dataframe
display(encoded_df)

,STATUS,ASK_AMT,IS_SUCCESSFUL,APPLICATION_TYPE_T10,APPLICATION_TYPE_T12,APPLICATION_TYPE_T13,APPLICATION_TYPE_T14,APPLICATION_TYPE_T15,APPLICATION_TYPE_T17,APPLICATION_TYPE_T19,...,INCOME_AMT_1-9999,INCOME_AMT_10000-24999,INCOME_AMT_100000-499999,INCOME_AMT_10M-50M,INCOME_AMT_1M-5M,INCOME_AMT_25000-99999,INCOME_AMT_50M+,INCOME_AMT_5M-10M,SPECIAL_CONSIDERATIONS_N,SPECIAL_CONSIDERATIONS_Y
0,1,5000,1,1.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0
1,1,108590,1,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0
2,1,5000,0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0
3,1,6692,1,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0
4,1,142590,1,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
34294,1,5000,0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0
34295,1,5000,0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0
34296,1,5000,0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0
34297,1,5000,1,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0
34298,1,36500179,0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,1.0,0.0

### Step 5: Using the preprocessed data, create the features (`X`) and target (`y`) datasets. The target dataset should be defined by the preprocessed DataFrame column “IS_SUCCESSFUL”. The remaining columns should define the features dataset.

In [10]:
# Define the target set y using the IS_SUCCESSFUL column
y = applicant_data_df['IS_SUCCESSFUL']

# Display a sample of y
y[:5]

0    1
1    1
2    0
3    1
4    1
Name: IS_SUCCESSFUL, dtype: int64

In [11]:
# Define features set X by selecting all columns but IS_SUCCESSFUL
X = encoded_df.drop(columns=['IS_SUCCESSFUL'])

# Review the features DataFrame
X[:5]

,STATUS,ASK_AMT,APPLICATION_TYPE_T10,APPLICATION_TYPE_T12,APPLICATION_TYPE_T13,APPLICATION_TYPE_T14,APPLICATION_TYPE_T15,APPLICATION_TYPE_T17,APPLICATION_TYPE_T19,APPLICATION_TYPE_T2,...,INCOME_AMT_1-9999,INCOME_AMT_10000-24999,INCOME_AMT_100000-499999,INCOME_AMT_10M-50M,INCOME_AMT_1M-5M,INCOME_AMT_25000-99999,INCOME_AMT_50M+,INCOME_AMT_5M-10M,SPECIAL_CONSIDERATIONS_N,SPECIAL_CONSIDERATIONS_Y
0,1,5000,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0
1,1,108590,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0
2,1,5000,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0
3,1,6692,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0
4,1,142590,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0

### Step 6: Split the features and target sets into training and testing datasets.

In [12]:
# Split the preprocessed data into a training and testing dataset
# Assign the function a random_state equal to 1
X_train, X_test, y_train, y_test = train_test_split(X,y, random_state=1)

### Step 7: Use scikit-learn's `StandardScaler` to scale the features data.

In [13]:
# Create a StandardScaler instance
scaler = StandardScaler()

# Fit the scaler to the features training dataset
X_scaler = scaler.fit(X_train)

# Fit the scaler to the features training dataset
X_train_scaled = X_scaler.transform(X_train)
X_test_scaled = X_scaler.transform(X_test)

In [14]:
import numpy as np

---

## Compile and Evaluate a Binary Classification Model Using a Neural Network

### Step 1: Create a deep neural network by assigning the number of input features, the number of layers, and the number of neurons on each layer using Tensorflow’s Keras.

> **Hint** You can start with a two-layer deep neural network model that uses the `relu` activation function for both layers.

In [15]:
# Define the the number of inputs (features) to the model
number_input_features = X_train.shape[1]

# Review the number of features
number_input_features

116

In [16]:
# Define the number of neurons in the output layer
number_output_neurons = 1

In [17]:
# Define the number of hidden nodes for the first hidden layer
hidden_nodes_layer1 =  58

# Review the number hidden nodes in the first layer
hidden_nodes_layer1

58

In [18]:
# Define the number of hidden nodes for the second hidden layer
hidden_nodes_layer2 =  58

# Review the number hidden nodes in the second layer
hidden_nodes_layer2

58

In [19]:
# Create the Sequential model instance
nn = Sequential()

In [20]:
# Add the first hidden layer
nn.add(Dense(units=hidden_nodes_layer1, input_dim=number_input_features, activation="relu"))

In [21]:
# Add the second hidden layer
nn.add(Dense(units=hidden_nodes_layer2, input_dim=number_input_features, activation="relu"))

In [22]:
# Add the output layer to the model specifying the number of output neurons and activation function
nn.add(Dense(1, activation="sigmoid"))

In [23]:
# Display the Sequential model summary
nn.summary()

Model: "sequential"
_________________________________________________________________
 Layer (type)                Output Shape              Param #
=================================================================
 dense (Dense)               (None, 58)                6786

 dense_1 (Dense)             (None, 58)                3422

 dense_2 (Dense)             (None, 1)                 59

=================================================================
Total params: 10,267
Trainable params: 10,267
Non-trainable params: 0
_________________________________________________________________

### Step 2: Compile and fit the model using the `binary_crossentropy` loss function, the `adam` optimizer, and the `accuracy` evaluation metric.

In [24]:
# Compile the Sequential model
nn.compile(loss="binary_crossentropy",optimizer="adam", metrics="accuracy")

In [25]:
# Fit the model using 50 epochs and the training data
model = nn.fit(X_train, y_train epochs=30)

Epoch 1/30
804/804 [==============================] - 2s 1ms/step - loss: 23386.6055 - accuracy: 0.4862
Epoch 2/30
804/804 [==============================] - 1s 1ms/step - loss: 9615.5713 - accuracy: 0.4981
Epoch 3/30
804/804 [==============================] - 1s 1ms/step - loss: 19342.4102 - accuracy: 0.4965
Epoch 4/30
804/804 [==============================] - 1s 2ms/step - loss: 3323.0859 - accuracy: 0.4892
Epoch 5/30
804/804 [==============================] - 1s 2ms/step - loss: 6811.3784 - accuracy: 0.4967
Epoch 6/30
804/804 [==============================] - 1s 1ms/step - loss: 10128.7402 - accuracy: 0.4965
Epoch 7/30
804/804 [==============================] - 1s 1ms/step - loss: 905.1946 - accuracy: 0.5138
Epoch 8/30
804/804 [==============================] - 1s 1ms/step - loss: 49.9887 - accuracy: 0.5279
Epoch 9/30
804/804 [==============================] - 1s 1ms/step - loss: 6.2369 - accuracy: 0.5264
Epoch 10/30
804/804 [==============================] - 1s 1ms/step - loss: 0.6911 - accuracy: 0.5335
Epoch 11/30
804/804 [==============================] - 1s 1ms/step - loss: 0.6909 - accuracy: 0.5335
Epoch 12/30
804/804 [==============================] - 1s 1ms/step - loss: 0.6910 - accuracy: 0.5335
Epoch 13/30
804/804 [==============================] - 1s 1ms/step - loss: 0.6910 - accuracy: 0.5335
Epoch 14/30
804/804 [==============================] - 1s 1ms/step - loss: 0.6910 - accuracy: 0.5335
Epoch 15/30
804/804 [==============================] - 1s 1ms/step - loss: 0.6910 - accuracy: 0.5335
Epoch 16/30
804/804 [==============================] - 1s 1ms/step - loss: 0.6910 - accuracy: 0.5335
Epoch 17/30
804/804 [==============================] - 1s 2ms/step - loss: 0.6910 - accuracy: 0.5335
Epoch 18/30
804/804 [==============================] - 1s 1ms/step - loss: 0.6910 - accuracy: 0.5335
Epoch 19/30
804/804 [==============================] - 1s 1ms/step - loss: 0.6910 - accuracy: 0.5335
Epoch 20/30
804/804 [==============================] - 1s 1ms/step - loss: 0.6910 - accuracy: 0.5335
Epoch 21/30
804/804 [==============================] - 1s 2ms/step - loss: 0.6911 - accuracy: 0.5335
Epoch 22/30
804/804 [==============================] - 1s 1ms/step - loss: 0.6910 - accuracy: 0.5335
Epoch 23/30
804/804 [==============================] - 1s 1ms/step - loss: 0.6911 - accuracy: 0.5335
Epoch 24/30
804/804 [==============================] - 1s 1ms/step - loss: 0.6911 - accuracy: 0.5335
Epoch 25/30
804/804 [==============================] - 1s 2ms/step - loss: 0.6910 - accuracy: 0.5335
Epoch 26/30
804/804 [==============================] - 1s 2ms/step - loss: 0.6910 - accuracy: 0.5335
Epoch 27/30
804/804 [==============================] - 1s 2ms/step - loss: 0.6911 - accuracy: 0.5335
Epoch 28/30
804/804 [==============================] - 1s 2ms/step - loss: 0.6910 - accuracy: 0.5335
Epoch 29/30
804/804 [==============================] - 1s 2ms/step - loss: 0.6911 - accuracy: 0.5335
Epoch 30/30
804/804 [==============================] - 1s 1ms/step - loss: 0.6911 - accuracy: 0.5335

### Step 3: Evaluate the model using the test data to determine the model’s loss and accuracy.

In [26]:
# Evaluate the model loss and accuracy metrics using the evaluate method and the test data
model_loss, model_accuracy = nn.evaluate(X_test_scaled, y_test, verbose=2)

# Display the model loss and accuracy results
print(f"Loss: {model_loss}, Accuracy: {model_accuracy}")

268/268 - 0s - loss: 0.7418 - accuracy: 0.5256 - 281ms/epoch - 1ms/step
Loss: 0.7418361306190491, Accuracy: 0.5255976915359497

### Step 4: Save and export your model to an HDF5 file, and name the file `AlphabetSoup.h5`.

In [27]:
# Set the model's file path
file_path = Path("Resources/AlphabetSoup.h5")

# Export your model to a HDF5 file
nn.save(file_path)

---

## Optimize the neural network model

### Step 1: Define at least three new deep neural network models (resulting in the original plus 3 optimization attempts). With each, try to improve on your first model’s predictive accuracy.

> **Rewind** Recall that perfect accuracy has a value of 1, so accuracy improves as its value moves closer to 1. To optimize your model for a predictive accuracy as close to 1 as possible, you can use any or all of the following techniques:
>
> * Adjust the input data by dropping different features columns to ensure that no variables or outliers confuse the model.
>
> * Add more neurons (nodes) to a hidden layer.
>
> * Add more hidden layers.
>
> * Use different activation functions for the hidden layers.
>
> * Add to or reduce the number of epochs in the training regimen.

### Alternative Model 1

In [39]:
# Define the the number of inputs (features) to the model
number_input_features = len(X_train.iloc[0])

# Review the number of features
number_input_features

116

In [40]:
# Define the number of neurons in the output layer
number_output_neurons_A1 = 1

In [41]:
# Define the number of hidden nodes for the first hidden layer
hidden_nodes_layer1_A1 = 58

# Review the number of hidden nodes in the first layer
hidden_nodes_layer1_A1

58

In [52]:
# Create the Sequential model instance
nn_A1 = Sequential()

In [53]:
# First hidden layer
nn_A1.add(Dense(units=hidden_nodes_layer1_A1, input_dim=number_input_features, activation="relu"))

# Output layer
nn_A1.add(Dense(units=1,activation="linear"))

# Check the structure of the model
nn_A1.summary()

Model: "sequential_4"
_________________________________________________________________
 Layer (type)                Output Shape              Param #
=================================================================
 dense_9 (Dense)             (None, 58)                6786

 dense_10 (Dense)            (None, 1)                 59

=================================================================
Total params: 6,845
Trainable params: 6,845
Non-trainable params: 0
_________________________________________________________________

In [54]:
# Compile the Sequential model
nn_A1.compile(loss="binary_crossentropy",optimizer="adam", metrics="accuracy")

In [55]:
# Fit the model using 50 epochs and the training data
model = nn_A1.fit(X_train, y_train, epochs=30)

Epoch 1/30
804/804 [==============================] - 1s 1ms/step - loss: 7.1142 - accuracy: 0.5335
Epoch 2/30
804/804 [==============================] - 1s 1ms/step - loss: 7.1142 - accuracy: 0.5335
Epoch 3/30
804/804 [==============================] - 1s 1ms/step - loss: 7.1142 - accuracy: 0.5335
Epoch 4/30
804/804 [==============================] - 1s 1ms/step - loss: 7.1142 - accuracy: 0.5335
Epoch 5/30
804/804 [==============================] - 1s 1ms/step - loss: 7.1142 - accuracy: 0.5335
Epoch 6/30
804/804 [==============================] - 1s 1ms/step - loss: 7.1142 - accuracy: 0.5335
Epoch 7/30
804/804 [==============================] - 1s 1ms/step - loss: 7.1142 - accuracy: 0.5335
Epoch 8/30
804/804 [==============================] - 1s 1ms/step - loss: 7.1142 - accuracy: 0.5335
Epoch 9/30
804/804 [==============================] - 1s 1ms/step - loss: 7.1142 - accuracy: 0.5335
Epoch 10/30
804/804 [==============================] - 1s 1ms/step - loss: 7.1142 - accuracy: 0.5335
Epoch 11/30
804/804 [==============================] - 1s 1ms/step - loss: 7.1142 - accuracy: 0.5335
Epoch 12/30
804/804 [==============================] - 1s 1ms/step - loss: 7.1142 - accuracy: 0.5335
Epoch 13/30
804/804 [==============================] - 1s 1ms/step - loss: 7.1142 - accuracy: 0.5335
Epoch 14/30
804/804 [==============================] - 1s 1ms/step - loss: 7.1142 - accuracy: 0.5335
Epoch 15/30
804/804 [==============================] - 1s 1ms/step - loss: 7.1142 - accuracy: 0.5335
Epoch 16/30
804/804 [==============================] - 1s 1ms/step - loss: 7.1142 - accuracy: 0.5335
Epoch 17/30
804/804 [==============================] - 1s 1ms/step - loss: 7.1142 - accuracy: 0.5335
Epoch 18/30
804/804 [==============================] - 1s 1ms/step - loss: 7.1142 - accuracy: 0.5335
Epoch 19/30
804/804 [==============================] - 1s 1ms/step - loss: 7.1142 - accuracy: 0.5335
Epoch 20/30
804/804 [==============================] - 1s 1ms/step - loss: 7.1142 - accuracy: 0.5335
Epoch 21/30
804/804 [==============================] - 1s 1ms/step - loss: 7.1142 - accuracy: 0.5335
Epoch 22/30
804/804 [==============================] - 1s 1ms/step - loss: 7.1142 - accuracy: 0.5335
Epoch 23/30
804/804 [==============================] - 1s 1ms/step - loss: 7.1142 - accuracy: 0.5335
Epoch 24/30
804/804 [==============================] - 1s 1ms/step - loss: 7.1142 - accuracy: 0.5335
Epoch 25/30
804/804 [==============================] - 1s 2ms/step - loss: 7.1142 - accuracy: 0.5335
Epoch 26/30
804/804 [==============================] - 1s 2ms/step - loss: 7.1142 - accuracy: 0.5335
Epoch 27/30
804/804 [==============================] - 1s 2ms/step - loss: 7.1142 - accuracy: 0.5335
Epoch 28/30
804/804 [==============================] - 1s 1ms/step - loss: 7.1142 - accuracy: 0.5335
Epoch 29/30
804/804 [==============================] - 1s 1ms/step - loss: 7.1142 - accuracy: 0.5335
Epoch 30/30
804/804 [==============================] - 1s 1ms/step - loss: 7.1142 - accuracy: 0.5335

#### Alternative Model 2

In [56]:
# Define the the number of inputs (features) to the model
number_input_features = len(X_train.iloc[0])

# Review the number of features
number_input_features

116

In [57]:
# Define the number of neurons in the output layer
number_output_neurons_A2 = 1

In [58]:
# Define the number of hidden nodes for the first hidden layer
hidden_nodes_layer1_A2 = 116

# Review the number of hidden nodes in the first layer
hidden_nodes_layer1_A2

116

In [59]:
# Create the Sequential model instance
nn_A2 = Sequential ()

In [61]:
# First hidden layer
nn_A2.add(Dense(units=hidden_nodes_layer1_A2, input_dim=number_input_features, activation="relu"))

# Output layer
nn_A2.add(Dense(units=1,activation="linear"))

# Check the structure of the model
nn_A2.summary()

Model: "sequential_5"
_________________________________________________________________
 Layer (type)                Output Shape              Param #
=================================================================
 dense_11 (Dense)            (None, 116)               13572

 dense_12 (Dense)            (None, 1)                 117

=================================================================
Total params: 13,689
Trainable params: 13,689
Non-trainable params: 0
_________________________________________________________________

In [64]:
# Compile the model
nn_A2.compile(loss="binary_crossentropy",optimizer="adam", metrics="accuracy")

In [66]:
# Fit the model
model = nn_A2.fit(X_train, y_train, epochs=30)

Epoch 1/30
804/804 [==============================] - 1s 1ms/step - loss: 7.1142 - accuracy: 0.5335
Epoch 2/30
804/804 [==============================] - 1s 1ms/step - loss: 7.1142 - accuracy: 0.5335
Epoch 3/30
804/804 [==============================] - 1s 2ms/step - loss: 7.1142 - accuracy: 0.5335
Epoch 4/30
804/804 [==============================] - 1s 1ms/step - loss: 7.1142 - accuracy: 0.5335
Epoch 5/30
804/804 [==============================] - 1s 942us/step - loss: 7.1142 - accuracy: 0.5335
Epoch 6/30
804/804 [==============================] - 1s 1ms/step - loss: 7.1142 - accuracy: 0.5335
Epoch 7/30
804/804 [==============================] - 1s 1ms/step - loss: 7.1142 - accuracy: 0.5335
Epoch 8/30
804/804 [==============================] - 1s 1ms/step - loss: 7.1142 - accuracy: 0.5335
Epoch 9/30
804/804 [==============================] - 1s 1ms/step - loss: 7.1142 - accuracy: 0.5335
Epoch 10/30
804/804 [==============================] - 1s 959us/step - loss: 7.1142 - accuracy: 0.5335
Epoch 11/30
804/804 [==============================] - 1s 1ms/step - loss: 7.1142 - accuracy: 0.5335
Epoch 12/30
804/804 [==============================] - 1s 1ms/step - loss: 7.1142 - accuracy: 0.5335
Epoch 13/30
804/804 [==============================] - 1s 1ms/step - loss: 7.1142 - accuracy: 0.5335
Epoch 14/30
804/804 [==============================] - 1s 1ms/step - loss: 7.1142 - accuracy: 0.5335
Epoch 15/30
804/804 [==============================] - 1s 1ms/step - loss: 7.1142 - accuracy: 0.5335
Epoch 16/30
804/804 [==============================] - 1s 1ms/step - loss: 7.1142 - accuracy: 0.5335
Epoch 17/30
804/804 [==============================] - 1s 1ms/step - loss: 7.1142 - accuracy: 0.5335
Epoch 18/30
804/804 [==============================] - 1s 1ms/step - loss: 7.1142 - accuracy: 0.5335
Epoch 19/30
804/804 [==============================] - 1s 1ms/step - loss: 7.1142 - accuracy: 0.5335
Epoch 20/30
804/804 [==============================] - 1s 1ms/step - loss: 7.1142 - accuracy: 0.5335
Epoch 21/30
804/804 [==============================] - 1s 1ms/step - loss: 7.1142 - accuracy: 0.5335
Epoch 22/30
804/804 [==============================] - 1s 1ms/step - loss: 7.1142 - accuracy: 0.5335
Epoch 23/30
804/804 [==============================] - 1s 1ms/step - loss: 7.1142 - accuracy: 0.5335
Epoch 24/30
804/804 [==============================] - 1s 1ms/step - loss: 7.1142 - accuracy: 0.5335
Epoch 25/30
804/804 [==============================] - 1s 1ms/step - loss: 7.1142 - accuracy: 0.5335
Epoch 26/30
804/804 [==============================] - 1s 1ms/step - loss: 7.1142 - accuracy: 0.5335
Epoch 27/30
804/804 [==============================] - 1s 1ms/step - loss: 7.1142 - accuracy: 0.5335
Epoch 28/30
804/804 [==============================] - 1s 1ms/step - loss: 7.1142 - accuracy: 0.5335
Epoch 29/30
804/804 [==============================] - 1s 1ms/step - loss: 7.1142 - accuracy: 0.5335
Epoch 30/30
804/804 [==============================] - 1s 1ms/step - loss: 7.1142 - accuracy: 0.5335

### Step 2: After finishing your models, display the accuracy scores achieved by each model, and compare the results.

In [68]:
print("Original Model Results")

# Evaluate the model loss and accuracy metrics using the evaluate method and the test data
model_loss, model_accuracy =  nn.evaluate(X_test_scaled, y_test, verbose=2)

# Display the model loss and accuracy results
print(f"Loss: {model_loss}, Accuracy: {model_accuracy}")

Original Model Results
268/268 - 0s - loss: 0.7418 - accuracy: 0.5256 - 215ms/epoch - 803us/step
Loss: 0.7418361306190491, Accuracy: 0.5255976915359497

In [69]:
print("Alternative Model 1 Results")

# Evaluate the model loss and accuracy metrics using the evaluate method and the test data
model_loss, model_accuracy = nn_A1.evaluate(X_test_scaled, y_test, verbose=2)

# Display the model loss and accuracy results
print(f"Loss: {model_loss}, Accuracy: {model_accuracy}")

Alternative Model 1 Results
268/268 - 0s - loss: 5.6043 - accuracy: 0.4996 - 270ms/epoch - 1ms/step
Loss: 5.604288578033447, Accuracy: 0.4995918273925781

In [70]:
print("Alternative Model 2 Results")

# Evaluate the model loss and accuracy metrics using the evaluate method and the test data
model_loss, model_accuracy = nn_A2.evaluate(X_test_scaled, y_test, verbose=2)

# Display the model loss and accuracy results
print(f"Loss: {model_loss}, Accuracy: {model_accuracy}")

Alternative Model 2 Results
268/268 - 0s - loss: 2.3531 - accuracy: 0.4877 - 217ms/epoch - 808us/step
Loss: 2.3531289100646973, Accuracy: 0.4876967966556549

### Step 3: Save each of your alternative models as an HDF5 file.

In [71]:
# Set the file path for the first alternative model
file_path = Path("Resources/Alternative_Model.h5")

# Export your model to a HDF5 file
nn_A1.save(file_path)

In [72]:
# Set the file path for the second alternative model
file_path = Path("Resources/Second_Alternative_Model.h5")
# Export your model to a HDF5 file
nn_A2.save(file_path)